.apointment__button {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 21px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: 0;
}

@media (min-width: $tablet-width) {
  .apointment__button {
    padding: 17px 8px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    border: 0;
    text-transform: uppercase;
    width: 455px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .apointment__button {
    left: 50.3%;
  }
}
