.apointment {
  padding: 30px 30px 49px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.apointment__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.apointment__text {
  @include font-set(14px, 24px, 400);
  color: $black-shaft;
  margin-top: 0;
  margin-bottom: 35px;
}

.apointment__button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding: 15px 37px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .apointment {
    padding-top: 55px;
    padding-bottom: 155px;
    margin: 0 auto;
    background-color: $white;
  }

  .apointment__button {
    padding: 30px 30px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    border: 0;
    text-transform: uppercase;
    width: 568px;
    position: relative;
    left: 30%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .apointment {
    width: $desktop-width;
  }
}
