
.burger-button {
  padding: 0;
  background-color: transparent;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  border: transparent;
  cursor: pointer;
  position: relative;
  width: 23px;
  height: 22px;
  margin-right: 9px;
  left: 134px;
  top: 15px;
}

.no-js .burger-button {
  display: none;
}

@media (min-width: $tablet-width) {
  .burger-button {
    display: none;
  }
}
