.button {
  display: block;
  border: 0;
  background-color: $light-grey-blue;
  color: #ffffff;
  font-family: $basic-font-family;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: $faded-blue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    color: #ffffff;
    background-color: #e5e5e5;
  }
}
