.features {
  font-family: $basic-font-family;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
    padding-top: 0;
    justify-content: center;
  }
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 23px 0 0;
 }

.features__title {
  @include font-set(18px, 26px, 700);
  position: relative;
  color: #000000;
  margin: 0 0 0 54px;
  padding-bottom: 14px;
  padding-top: 60px;
}

.features__title--home {
  text-align: right;
  font-size: 21px;
  margin-left: 60px;
}

.features__title--food {
  text-align: right;
  font-size: 21px;
  margin-left: 60px;
}

.features__title--gift {
  text-align: right;
  font-size: 21px;
  margin-left: 60px;
}

.features__text {
  @include font-set(14px, 21px);
  color: #333333;
  margin: 0;
  margin: 0 20px 0 61px;
  text-align: left;
}

.features__item--horizontaly {
  text-align: center;
  background: $gray-gallery-ea;
  padding-bottom: 30px;
}

.features__text--white {
  color: $white;
  margin: 12px 39px;
  line-height: 23px;
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.features__sublist {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__info {
  font-size: 14px;
  line-height: 1.5;
  color: $white;
  margin: 0;
}

.features__info:nth-child(1) {
  background: $light-grey-blue;
  // padding-bottom: 30px;
  height: 258px;
}

.features__info:nth-child(2) {
  background: $light-grey-blue;
}

.features__number::before {
  display: list-item;
  counter-increment: section;
  content: "– №" counter(section) " –";
  font-size: 14px;
}

.features__title--white {
  margin: 3px auto 23px;
  max-width: 160px;
  font-size: 21px;
  line-height: 20px;
  padding-top: 46px;
}

.features__image{
  width: auto;
}

@media (min-width: $tablet-width) {
  .features__item {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   margin: 23px 0 0;
  }

  .features__info {
    width: 256px;
    padding-top: 45px;
    text-align: center;
    padding-bottom: 2px;
  }

  .features__sublist {
    display: flex;
  }

  .features__item--horizontaly {
    display: flex;
  }

  .features__picture {
    width: 512px;
    height: 258px;
  }

  .features__title {
    margin: 3px 87px 8px;
    padding: 67px 0px 4px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .features__text {
    margin: 0 auto 17px;
    max-width: 163px;
    line-height: 20px;
  }
}
