.features-item {
  position: relative;
  color: $white;
  width: 280px;
  background-color: $gray-iron;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 0;
  }
}


.features__item--horizontaly {
  display: flex;
  width: 100%;
}
