.features {
  font-family: $basic-font-family;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
    padding-top: 0;
    justify-content: center;
  }
}

.features__item {
  width: 100%;
  margin: 0;
}

.features__title {
  @include font-set(18px, 26px, 700);
  position: relative;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  text-align: center;
  background-repeat: no-repeat;
  text-transform: uppercase;

  &::after {
    display: block;
    counter-increment: section;
    content: "– №" counter(section) " –";
    font-size: 14px;
    font-weight: 400;
  }

  &::before {
    position: absolute;
    top: -10px;
    left: -46px;
    width: 37px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--home {
    font-size: 21px;
    margin-left: 60px;
    background-image: url("../img/icon-house.svg");
  }

  &--food {
    font-size: 21px;
    margin-left: 60px;
    background-image: url("../img/icon-burger.svg");
  }

  &--gift {
    font-size: 21px;
    margin-left: 60px;
    background-image: url("../img/icon-gift.svg");
  }
}

.features__text {
  @include font-set(14px, 21px);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.features__info .features__text {
  color: $white;
  margin: 2px 34px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.features__sublist {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__info {
  font-size: 14px;
  line-height: 1.5;
  color: $white;
  margin: 0;
}

.features__info--blue {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.features__info:nth-child(2) {
  background: $light-grey-blue;
}

.features__info-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
}

.features__info .features__title {
  color: $white;
  margin: 12px 21px;
  line-height: 23px;
}

.features__info--triangle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: calc((37/320) * 100%);
}


.features__image {
  width: auto;
}

@media (min-width: $tablet-width) {
  .features__item {
    width: 33.3334%;
    margin: 0;

    &--wide {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .features__info {
    width: 256px;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 2px;
  }

  .features__sublist {
    display: flex;
    padding: 60px 0 51px;
  }

  .features__sublist .features__title {
    padding: 102px 0 11px 4px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: #000000;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .features__picture {
    width: 512px;
    height: 258px;
  }

  .features__title {
    margin: 3px 56px 8px;
    padding: 27px 0 4px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .features__text {
    margin: 0 50px 17px;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .features__info {
    width: 400px;
  }

  .features__picture {
    width: 100%;
    height: 258px;
  }
}
