.features {
  font-family: $basic-font-family;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
    padding-top: 0;
    justify-content: center;
  }
}

.features__text {
  @include font-set(14px, 21px);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.features__picture {
  display: block;
  width: 100%;
  height: auto;
}

.features__image {
  width: auto;
  overflow: hidden;
  height: 258px;
}

@media (min-width: $tablet-width) {
  .features__image {
    line-height: 0;
    width: 66.6667%;
  }

  .features__picture {
    width: 512px;
    height: auto;
  }

  .features__text {
    line-height: 20px;
    text-align: center;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .features__picture {
    width: 100%;
    height: auto;
  }

  .features__text:nth-of-type(4) {
    padding: 0 15px;
  }
}
