.feedback-form {
  line-height: 26px;
  padding-bottom: 36px;
  text-align: left;
}

@media #{$tablet-widths} {
  .feedback-form {
    display: flex;
    width: 648px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

.feedback-form__contact-info {
  position: relative;
  border: 0;
  padding-top: 0;
  padding-bottom: 25px;
  margin: 0;
}

.feedback-form__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feedback-form__field-label {
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
}
