
.feedback__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d6d6d6;
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-left: 60px;
    padding-right: 60px;
  }

  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 55px;
    border-top: 0;
  }

  .feedback__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .feedback__description {
    padding: 0 105px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 1200px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
  }

  .feedback__title {
    margin-right: 9px;
  }

  .feedback__description {
    padding: 0 267px 0 258px;
  }
}
