.feedback__info {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 39px;
  padding-bottom: 36px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .feedback__info {
    padding: 0;
    padding-top: 74px;
    padding-bottom: 71px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__info {
    padding: 0;
    padding-top: 112px;
    padding-bottom: 55px;
  }
}
