.galery {
  width: 648px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (min-width:$tablet-width) {
  .gallery-content {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (min-width:$desktop-width) {
  .gallery-content {
    width: 1200px;
  }
}
