.main-menu {
  width: 100%;
}
.main-menu__list {
  margin: 0;
  list-style: none;
  background-color: $light-grey-blue;
  padding: 0;
  width: 100%;
}

.main-menu__item {
  font-family: $basic-font-family;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid $silver;
  padding: 17px 0 13px 0;
  box-shadow: 2px 1px 0 rgba(0, 1, 1, 0.2);
  border-radius: 2px;
}

.main-menu__item:nth-child(2) {
  box-shadow: 2px 1px 0 rgba(0, 1, 1, 0.2);
  border-radius: 2px;
}

.main-menu__link {
  text-decoration: none;
  color: $white;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
