.main-header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #ffffff;
}
.main-header__logo {
  position: relative;
  margin-bottom: -30px;
  left: 110px;
}
.main-header__logo-picture {
  width: auto;
  height: auto;
}
