.main-header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #ffffff;
  @media #{$tablet-widths} {
    height: 56px;
  }
}

@media #{$tablet-widths} {
  position: absolute;
  margin-bottom: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  }
}

.main-header__logo {
  position: relative;
  margin-bottom: -30px;
  left: 110px;
}

.main-header__logo-picture {
  width: auto;
  height: auto;
}
