.main-footer {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  padding-top: 64px;
  padding-bottom: 23px;

  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 0 61px;
  }
}

.main-footer__title {
  font-size: 21px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 35px;
}

.main-footer__social-button {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: $light-grey-blue;
  font-size: 0;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.main-footer__social-button-icon {
  fill: currentColor;
}

.main-footer__copyright {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.main-footer__copyright-icon {
  display: inline-block;
  width: 27px;
  height: 34px;
  font-size: 0;
  margin-left: 11px;
  color: #000000;
}

.main-footer__copyright-image {
  fill: currentColor;
}

.main-footer__hashtag {
  text-align: center;
  margin-bottom: 22px;
  margin-right: 7px;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-left: -2px;
    margin-bottom: 10px;
    margin-right: 1px;
  }
}


.hashtag {
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    left: 21%;
    top: 18%;
    margin-bottom: 0;
  }
}

.social__link {
  margin: 14px 8px 25px -2px;
  display: flex;
  width: 46px;
  height: 48px;
  color: $white;
  background-color: $light-grey-blue;
  background-position: center;
  fill: $white;

  @media (min-width: $tablet-width) {
    margin: 0 9px -5px -3px;
  }
}


.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  fill: $white;
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  fill: $white;
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  fill: $white;
}

.copyright-link {
  margin: 4px 6px 0 11px;

  @media (min-width: $tablet-width) {
    margin: 21px 0 0 13px;
  }
}

.copyright-link:hover,
.copyright-link:focus {
  fill: #81b3d2;
}

.copyright-link:active {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .social__link {
    margin: 0 7px -5px 0;
  }

  .main-footer__social {
    left: 13%;
  }

  .main-footer {
    padding: 0 120px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  .copyright-link {
    margin-left: 14px;
  }
}
