.map {
  position: relative;
  width: 320px;
  height: 350px;
  overflow: hidden;
  background-color: #f4f3f0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;
    margin-bottom: -8px;
  }

  .map__picture {
    width: $tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
  }

  .map__picture {
    width: $desktop-width;
  }
}
