.promo {
  position: relative;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

@media #{$tablet-widths} {
  .promo {
    padding: 0;
    width: 324px;
    height: 347px;
  }

  &:first-child {
    width: 648px;
    height: 480px;
  }

  &::before {
    display: none;
  }
}
