

@media (min-width: $desktop-width) {
  .social__link {
    margin: 0 7px -16px 0;

    &:hover,
    &:focus {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}
