@mixin container() {
  margin-right: auto;
  margin-left: auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
  }
}

@mixin font-set($size, $line-height, $weight: null) {
  font-size: $size;
  line-height: floor($line-height / $size * 100) / 100;
  font-weight: $weight;
}

@mixin transition($property, $time, $transition) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: $transition;
}

@mixin align-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
